$border: #2f0e50b5;
$mainPurple: darken(#66339933, 10%);
$buttonPurple: #6f3ea0c4;
$lightColor: #eeecf5c2;
$mediumColor: #bbc2ebcc;

/* default base settings */

/* default base settings */
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poiret+One&display=swap');

/* work in progress. change as you like */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: whitesmoke url("/bg4.jpg") no-repeat fixed center;
  background-size: cover;
  font-family: Montserrat;
  
}

a {
  text-decoration: none;
}

.fa-google {
  margin-right: 5px;
}

/* Flight Page styling */

.outerBox {
  display: flex;
  flex-direction: column;
  height: auto;
  border: 2px solid $border;
  width: 90%;
  margin-left: 5%;
  background: #66339933;
  border-radius: 10px;
  margin-top: 5vh;
  box-shadow: 3px 3px 3px solid black;

  .headerFlight {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form-container {
    display: flex;
    // border-bottom: 1px solid $border;
  }

  .make-diff-container {
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    margin-top: 10px;
    background: $lightColor;
    width: 50%;
    height: auto;
    border: 1px solid $border;
    border-radius: 10px;
    text-align: center;
    box-shadow: 1px 1px 1px solid black;
    padding-top: 2%;
    padding-bottom: 2%;
  }

  .actions {
    height: 70%;
  }

  .makeDifferenceHeader {
    height: 13%;
  }

  .linkToProfile {
    height: 13%;
  }

  .searchInput {
    margin: 1rem 0.5rem;
    width: 20rem;
    padding: 0.8rem 1rem;
    border-radius: 5px;

  }

  .btnSearch {
    margin-left: 0.5rem;
    padding: 0.65rem;
    border-radius: 6px;
    color: rgb(70, 69, 68);
    background-color: rgb(201, 227, 245);
    
  }

  i {
    size: 7x;
    color: rgb(93, 168, 221);
  }

  .options {
    font-size: 1.2rem;
  }



  #loginButton {
    border: 2px solid $border;
    width: 10%;
    height: 5%;
    text-align: center;
    padding-top: 6px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 40%;
    font-size: 1.5em;
    margin-bottom: 40px;
    background: $lightColor;
    color: black;
    box-shadow: 2px 2px 2px black;
  }

  #signupButton {
    border: 2px solid $border;
    width: 10%;
    height: 5%;
    text-align: center;
    padding-top: 6px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 55%;
    font-size: 1.5em;
    margin-bottom: 40px;
    background: $lightColor;
    color: black;
    box-shadow: 2px 2px 2px black;
  }
  
  #loginButton:hover,  #signupButton:hover {
    background-color: #8D8EBC;
    color: white;
    box-shadow: 3px 3px 3px black;
  }
}  
  /* Login page design starts */

.loginPageContainer {
  min-width: 400px;
  max-width: 35vw;
  margin: 20vh auto;
  padding: 20px;
  background: darken($mainPurple, 20%);
  border: 2px solid $border;
  border-radius: 10px;
  text-align: center;
}

.titleHeader {
  font-size: 1.75rem;
  color: rgb(230, 223, 223);
  margin-bottom: 1.5rem;

  h1 {
    // margin-bottom: 1rem;
    font-family: "Pacifico", cursive;
  }

  em {
    font-family: 'Crimson Text', serif;
    font-size: 1.5rem;
  }
}

#customBtn {
  font-family: 'Crimson Text', serif;
  font-weight: 600;
  width: 60%;
  text-align: center;
  margin: 0 auto;
  border: 1px solid $buttonPurple;
}

#customBtn:hover {
  background-color: $buttonPurple;
  border: 1px solid white;

  a {
    color: white;
  }
}

#return {
  border: 1px solid white;
  border-radius: 15px;
  width: 60%;
  margin: 1rem auto 1rem auto;
  padding: 16px 0px 12px 0px;
  color: white;
  font-family: 'Crimson Text', serif;
  font-size: 1.15rem;
  font-weight: 600;
  box-shadow: none;
  text-align: center;
}

#return:hover {
  color: rgb(71, 36, 105);
  border: 1px solid rgb(71, 36, 105);
}

/* Main search page styling below */

#header-container {
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-family: 'Pacifico', cursive;
  color: rgb(255, 245, 245);

  h1 {
    text-align: center;
  }
}

.googleSign {
  font-size: 1.2rem;
  padding: 0.8rem;
  background-color: rgb(255, 255, 247);
  border-radius: 1rem;
}

#flight-info-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $lightColor;
  margin-left: 25%;
  width: 50%;
  border: 1px solid $border;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  font-size: 1.3em;
}

.flightOutput {
  text-align: center;
  font-size: 2em;
  color: white;
}
.emoji-break {
  margin: 7px 0;
}

.flight-options {
  margin: 7px 0;
  align-self: center;
}

button {
    // font-family: "Pacifico", cursive;
    font-family: Montserrat;
    padding: 5px;
    margin: 1rem;
    width: 20rem;
    border-radius: 5px;
    border: 1px solid $border;
    font-size: 1.5rem;
    background-color: $mainPurple;
    color: black;
}

button:hover {
  cursor: pointer;
  background-color: $lightColor;
  box-shadow: 1px 1px 1px black;
  color: black;
}

h3 {
  font-family: "Pacifico", cursive;
  font-size: 1.8rem;
}

p {
  font-size: 1.2rem;
  margin: 0.4rem;
}
/* Profile page design starts */

.profileContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.nav {
  // background-color: rgba(78, 74, 97, 0.534);
  background-color: $mainPurple;
  padding: 1rem;
  display: block;
  width: 20%;
  min-width: 260px;
  height: 100%;
  box-shadow: 3px 3px 3px black;

  .navLink {
    border: 2px solid $border;
    border-radius: 5px;
    padding-top: 15px;
    height: 60px;
    text-align: center;
    font-size: 1.25em;
    color: white;
    margin: 5px;
    // font-family: Poiret One;
    font-family: Montserrat;
    transition: 1s;
  }

  .navLink:hover {
    background-color: #7673b5;
    box-shadow: 2px 2px 2px black;
    animation: change-background 2s ease;
    transform: translateX(2%); 

    @keyframes change-background {
      0% {
        background: #717EB2;
      }
      100% {
        background: #7673b5;
      }
      // 100% {
      //   background: #56538f;
      // }
    }
  }

  a {
    color: white;
    display: flex;
    flex-direction: column;

    button {
      border: none;
      justify-content: center;
      color: white;
      height: 100%;
      width: 100%;
      background-color: transparent;
      box-shadow: none;
    }

    button:hover {
      background-color: transparent;
    }
  }

  #picture {
    border: 2px solid white;
    height: 170px;
    width: 170px;
    border-radius: 50%;
    margin: 10% auto;
  }

  #profPic {
    min-height: 300px;
    font-family: "Pacifico";
  }

  .logoBox {
    margin-top: 50px;
    text-align: center;
    height: 80px;
    font-size: 3em;
    font-family: "Pacifico", cursive;
    color: white;
  }
}

// styling for gallery on all logged-in pages
.gallery {
  background-color: $mainPurple;
  width: 65%;
  height: 90%;
  margin: 5vh auto 0 auto;
  border: 1px solid $border;
  border-radius: 10px;
  box-shadow: 2px 2px 2px black;
}

.tripHeader {
  text-align: center;
  font-size: 2em;
  color: white;
  margin-bottom: 10px;
  font-family: "Pacifico";
}

#cardsContainer {
  width: 100%;
  height: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fill, auto);
  grid-row-gap: 0.5em;
  grid-column-gap: 0.5em;
  background-color: inherit;
  padding: 10px;
  overflow-y: scroll;
}
#cardsContainer::-webkit-scrollbar {
  display: none;
}

.card {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid $border;
  padding: 20px;
  font-size: 30px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px black;
  transition: 1s;

  h3 {
    font-size: 20px;
    font-style: italic;
    font-family: 'Crimson Text', serif;
    margin-bottom: 10px;
  }

  p {
    font-size: 14px;
    margin-bottom: 5px;
  }

  #deleteButton {
    height: 30px;
    width:  40px;
    font-size: .5em;
    margin-top: 5px;
    margin-left: 90%;
    bottom: 0;
    // background-color: #8C8EC0;
    background-color: $lightColor;
    color: white;
    border:  $border;
    border-radius: 5px;
    
  }
  #deleteButton:hover {
    background-color: $mainPurple;
    color: black;
    box-shadow: 1px 1px 1px black;
  }
}
.card:hover{
  transform: translateX(1%);
  background-color: $mediumColor;
  box-shadow: 2px 2px 2px black; 
}

.actionTypes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.actionTypes > i {
  margin-top: 1rem;
  margin-bottom: 1rem;
  size: 10px;
}

#accountInfoHeader {
  display: grid;
  place-items: center;
  color: white;
  margin-top: 2vh;
}

.accountInfoRow {
  display: flex;
  justify-content: space-between;
  margin: 2vh;
  margin-top: 7vh;
  color: white;

  p {
    margin: 3vh;
  }

  #picture {
    border: 2px solid white;
    height: 170px;
    width: 170px;
    border-radius: 50%;
    margin: 10% auto;
  }

  .navLink {
    border: 2px solid $border;
    border-radius: 5px;
    padding-top: 15px;
    width: 250px;
    height: 60px;
    text-align: center;
    font-size: 1.35em;
    color: white;
    margin: 5px;
    font-family: Montserrat;
    font-weight: 400;
    transition: 1s;
  }

  #profPic {
    min-height: 300px;
    font-family: "Pacifico";
  }
}

