$border: #2f0e50b5;
$mainPurple: #66339933;
$lightColor: #eeecf5f0;
$mediumColor: #bbc2eb;

/* default base settings */

/* default base settings */
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

/* work in progress. change as you like */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: whitesmoke url("/bg4.jpg") no-repeat fixed center;
  background-size: cover;
}

a {
  text-decoration: none;
}

.fa-google {
  margin-right: 5px;
}

/* Flight Page styling */

.outerBox {
  display: flex;
  flex-direction: column;
  height: 80vh;
  border: 2px solid $border;
  width: 60%;
  margin-left: 20%;
  background: #66339933;
  border-radius: 10px;
  margin-top: 5vh;
  box-shadow: 3px 3px 3px solid black;

  .headerFlight {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form-container {
    display: flex;

    border-bottom: 1px solid $border;
  }

  .make-diff-container {
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    margin-top: 10px;
    background: $lightColor;
    width: 50%;
    height: 30%;
    border: 1px solid $border;
    border-radius: 5px;
    text-align: center;
    box-shadow: 1px 1px 1px solid black;
    padding-top: 4%;
  }

  .actions {
    height: 70%;
  }

  .makeDifferenceHeader {
    height: 13%;
  }

  .linkToProfile {
    height: 13%;
  }

  .searchInput {
    margin: 1rem 0.5rem;
    width: 20rem;
    padding: 0.8rem 1rem;
    border-radius: 5px;
  }

  .btnSearch {
    margin-left: 0.5rem;
    padding: 0.65rem;
    border-radius: 6px;
    color: rgb(70, 69, 68);
    background-color: rgb(201, 227, 245);
  }

  i {
    size: 7x;
    color: rgb(93, 168, 221);
  }

  .options {
    font-size: 1.2rem;
  }

  /* Login page design starts */

  .loginPageContainer {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
  }

  .titleHeader {
    font-size: 2rem;
    color: rgb(230, 223, 223);
  }

  .titleHeader > h1 {
    margin-bottom: 1rem;
    font-family: "Pacifico", cursive;
  }

  /* Main search page styling below */

  #header-container {
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-family: 'Pacifico', cursive;
    color: rgb(255, 245, 245);

    h1 {
      text-align: center;
    }
  }

  .googleSign {
    font-size: 1.2rem;
    padding: 0.8rem;
    background-color: rgb(255, 255, 247);
    border-radius: 1rem;
  }

  #flight-info-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $lightColor;
    margin-left: 25%;
    width: 50%;
    border: 1px solid $border;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    font-size: 1.3em;
  }

  .flightOutput {
    text-align: center;
    font-size: 2em;
    color: white;
  }
  .emoji-break {
    margin: 7px 0;
  }

  .flight-options {
    margin: 7px 0;
    align-self: center;
  }

  button {
    font-family: "Pacifico", cursive;
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid $border;
    font-size: 0.75em;
  }

  button:hover {
    cursor: pointer;
    background-color: $lightColor;
    box-shadow: 1px 1px 1px black;
  }

  h3 {
    font-family: "Pacifico", cursive;
    font-size: 1rem;
  }
}
/* Profile page design starts */

.profileContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.nav {
  // background-color: rgba(78, 74, 97, 0.534);
  background-color: $mainPurple;
  padding: 1rem;
  display: block;
  width: 20%;
  height: 100%;
  border-radius: 15px;
  box-shadow: 3px 3px 3px black;


  .navLink {
    border: 2px solid $border;
    border-radius: 5px;
    padding-top: 15px;
    height: 60px;
    text-align: center;
    font-size: 1.35em;
    color: white;
    margin: 5px;
  }

  .navLink:hover {
    background-color: #7673B5;
    box-shadow: 2px 2px 2px black;
  }

   a {
     color: white;
   }
   
  #picture {
    border: 2px solid white;
    height: 220;
    width: 70%;
    border-radius: 100%;
    margin: auto;
  }
  #profPic {
    height: 300px;
    font-family: "Pacifico";
  }

  .logoBox {
    margin-top: 50px;
    text-align: center;
    // background-color: pink;
    height: 80px;
    font-size: 3em;
    font-family: "Pacifico", cursive;
    color: white;
  }
}

.gallery {
  // display: grid;
  // grid-template-columns: repeat(4, 1fr);
  // grid-template-rows: repeat(auto-fill, 120px);
  // grid-row-gap: .5em;
  // grid-column-gap: 1em;
  background-color: $mainPurple;
  width: 65%;
  height: 85%;
  margin-left: 5%;
  margin-top: 7vh;
  border: 1px solid $border;
  border-radius: 10px;
  box-shadow: 2px 2px 2px black;

}

// .cardsContainer {
//   display: grid;
//   grid-template-columns: repeat(4, 1fr);
//   grid-template-rows: repeat(auto-fill, 120px);
//   grid-row-gap: .5em;
//   grid-column-gap: 1em;
// }

.tripHeader {
  text-align: center;
  font-size: 2em;
  color: white;
  margin-bottom: 10px;
  font-family: "Pacifico";
}

#cardsContainer {
  // margin-top: 1rem;
  // font-size: 2rem;
  // margin-left: 1rem;
  width: 100%;
  height: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fill, auto);
  grid-row-gap: .5em;
  grid-column-gap: .5em;
  background-color: inherit;
  padding: 10px;
  overflow-y: scroll;
}
 #cardsContainer::-webkit-scrollbar {
  display: none;
}

.card {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid $border;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 1px 1px 1px black;

  h3 {
    font-size: 14px;
  }

  p {
    font-size: 14px;
  }
}

.actionTypes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.actionTypes > i {
  margin-top: 1rem;
  margin-bottom: 1rem;
  size: 10px;
}

#accountInfoHeader {
  display: grid;
  place-items: center;
  color: white;
  margin-top: 2vh;
}


